# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
/tmp
*.env

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
/dist
build/

# VS Code
.vscode
!.vscode/tasks.js
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
